rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    function isAdmin() {
      return request.auth != null &&
        request.auth.token.email == "waseemisle@gmail.com";
    }

    match /avatar/{fileName} {
      allow read: if true;
      allow write: if isAdmin() && request.resource.size < 10 * 1024 * 1024;
    }

    match /resume/{fileName} {
      allow read: if true;
      allow write: if isAdmin() && request.resource.size < 20 * 1024 * 1024;
    }
  }
}
